.contact-list {
  // border-right: 1px solid #000;
}

.contact-list .contact-item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid 1px solid rgba($color: #000000, $alpha: 0.2);
  align-items: center;


  &:first-of-type {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
  }

  & > div {
    width: 16.66%;
    flex-shrink: 0;
    padding: 5px;
  }
}

.contact-list {

  &.editor-open {
    display: flex;
    align-items: flex-start;

    .all-contacts {
      width: 70%;
    }

    .edit-contacts {
      width: 30%;
      margin-left: 15px;
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }

  .edit-contacts {
    padding: 15px;
  }

}




/**
 * Forms
 */

.te-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 15px;

  .form-field {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
    flex-shrink: 0;

    &.hidden {
      display: none !important;
    }
  }

  label {
    display: block;
  }

  select {
    width: 100%;
  }
}

.te-field-half {
  width: 50%;
}

#addContact {

  #field-first_name,
  #field-last_name,
  #field-phone,
  #field-email {
    @extend .te-field-half;
  }
}

#filterContacts {
  
  #field-sort,
  #field-list {
    @extend .te-field-half;
  }
}


/**
 * Contacts
 */

.te-pagination {
  margin: 20px 0;
  text-align: center;

  a {
    background: rgba($color: #000000, $alpha: 0.1);
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;

    &.current {
      background: rgba($color: #000000, $alpha: 0.2);
      font-weight: 700;
    }
  }
}

.te-contacts {
  position: relative;
}

.te-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #fff, $alpha: 0.7);
  display: none;

  svg {
    position: absolute;
    left: calc( 50% - 60px );
    top: 0;
    margin: 0 auto;
  }
}

/**
 * Messages
 */

 .te-received-messages .message-item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid 1px solid rgba($color: #000000, $alpha: 0.2);
  align-items: center;


  &:first-of-type {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
  }

  .from {
    width: 30%;
    flex-shrink: 0;
    padding: 5px;
  }

  .message {
    width: 70%;
    flex-shrink: 0;
    padding: 5px;
  }
}